

<% if (data.game.resource != null) { %>
    


<div class="d-flex align-items-center">
    <h1><%= data.game.resource.name %></h1>
    <button onclick="handleDelete('<%= data.game.resource.id %>')" class="ms-auto btn btn-danger">Delete</button>
</div>

<hr>




<% if (data.game.code != 200) { %>
 
        <p class="text-danger">* <%= data.game.message %></p>
<% } %>


<form action="/admin/resource/get/<%=data.game.resource.id %>/set/items" method="post">


    <div class="row mt-3">

        <div class="col-12">

            <div class="mb-3">
                <label for="instance_id" class="form-label">Instance ID</label>
                <input type="text" class="form-control" id="instance_id" disabled value="<%= data.game.resource._id %>">
            </div>

            <div class="mb-3">
                <label for="display_id" class="form-label">Display ID</label>
                <input type="text" class="form-control" id="display_id" disabled value="<%= data.game.resource.id %>">
            </div>

            <div class="mb-3">
                <label for="game_name" class="form-label">Game Name</label>
                <input type="text" class="form-control" id="game_name" name="name" placeholder="Game Name" value="<%= data.game.resource.name %>">
            </div>

            <div class="mb-3">
                <label for="game_volalitiy" class="form-label">Game volalitiy</label>
                <input type="text" class="form-control" id="game_volalitiy" name="volalitiy" placeholder="Game Volalitiy" value="<%= data.game.resource.volalitiy %>">
            </div>

            
            <div class="mb-3">
                <!-- todo: pay table -->
                <label for="game_volalitiy" class="form-label">Pay Table</label>
                <input type="text" class="form-control" id="game_paytable" name="paytable" placeholder="Pay Table" value="">
            </div>


            <input type="hidden" name="id" value="<%= data.game.resource.id %>">

            <div class="mt-4">
                <button type="submit" class="btn btn-success">Save</button>
            </div>
        </div>

        
    </div>

</form>

<% } else { %>

    <p class="text-danger">Requested source is not found.</p>

<% } %>



<div class="mt-3">

    <button onclick="spin('<%=data.game.resource.id %>')" class="btn btn-success">Test Spin</button>
</div>



<script>

window.onload = () => {

    socket.emit("fetchBalance", (args) => {

        console.log("balance:", args)
    })

}

const handleDelete = (gameId) => {

    const confirm = window.confirm("Do you confirm to delete this game?")

    if (confirm) {

        window.location.href = `<%=link%>/admin/resource/delete/${gameId}`
    }
}



const spin = (gameId) => {

    const test_user = {
        
        requestedLines: 15,
        gameId: gameId,
        bet: 100

    }
    socket.emit("spin", test_user, (args) => {

        console.log("args:", args)
    })

}





</script>